.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rcheck/
*.Rproj
.DS_Store

# LaTeX files from /manuscript
manuscript/*.aux
manuscript/*.bbl
manuscript/*.blg
manuscript/*.log
manuscript/*.out
manuscript/*.fls
manuscript/*.fdb_latexmk
manuscript/*.synctex.gz
manuscript/*.pdf